.navbar-brand {
    font-size: 40px;
}

.nav-link {
    font-size: 30px;
    padding: 10px 30px;
}

body .btn-class {
    background-color: var(--bs-primary);
    color: #FFFFFF ;
}

body .btn-class:hover, body .btn-class:focus {
    color: #FFFFFF; 
}

.content-section, .filterInput {
    display: none;
}

.show {
    display: flex;
}

.currentFilter {
    display: inline;
}

td, th {
    border: black solid 1px;

}

.orderFilters {
    padding: 30px 0;
}
