@font-face {
    font-family: EA-Text;
    src: url('../fonts/ElectronicArtsText-Regular.ttf');
}
@font-face {
    font-family: EA-Text;
    src: url('../fonts/ElectronicArtsText-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: EA-Display;
    src: url('../fonts/ElectronicArtsDisplay-Regular.ttf');
}
@font-face {
    font-family: EA-Display;
    src: url('../fonts/ElectronicArtsDisplay-Bold.ttf');
    font-weight: bold;
}
/* MAIN || WHOLE SITE */

* {
    margin: 0;
    font-family: EA-Text;
}
div, header, nav, section, footer {
    border: 0.01px solid rgb(131, 131, 131);
}
body .margin{
    padding-right: 12%;
    padding-left: 12%;
}
h1, h2, h3, h4 {
    font-family: EA-Display;
}
header {
    background-color: #FFFFFF;
}


ul {
    list-style: none;
    padding-left: 0px;
    margin: 0;
}
.text-right{
    text-align: end;
}
a {
    text-decoration: none;
    color: #000000;
    font-size: calc(0.8vw + 0.4em);
}
main {
    background-color: #F3F3F3;
}

.btn {
    padding: 0.75rem 2.5rem;

    transition: transform 0.1s;
    display: inline-block;
    font-size: calc(1vw + 0.4em);
}

.btn:hover {
    transform: scale(1.05); /*changes the size without affecting the layout itself*/
}

.footerMenu {
    font-size: calc(1.5vw + 0.4em);
}
footer {
    background-color: #EAEAEA;
}
footer>div {
    padding-top: calc(0.5vw + 0.4em);
    padding-bottom: calc(0.5vw + 0.4em);
}
.downFooter {
    background-color: #F3F3F3;
}
footer img {
    width: 5rem;
    object-fit: contain;
}
body .footerPad {
    padding: 0 0;
}
@media (max-width: 600px) {
    body>.margin{
        padding-right: 3%;
        padding-left: 3%;
    }
}

/* -----HOME----- */

/* HOME BANNER */

#banner {
    height: 40vw;
}

/* HOME CARDS */
.cardHomeHover {
    position: absolute;
    background: linear-gradient(91deg, rgba(40, 40, 85, 1) 0%, rgba(233, 84, 89, 1) 100%);
    opacity: 0;
    top: 0;
    transition: opacity 0.5s;
    transition-timing-function: ease;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.prodCard:hover .cardHomeHover {
    opacity: 0.7;
}

.prodCard {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 20vw;
    max-height: 20vw;
}

.prodCard p {
    color: white;
    z-index: 1;
    pointer-events: none;
    padding-bottom: 0px;
}

.prodCard .foodTitle {
    transition: padding-bottom 0.7s;
    transition-timing-function: ease;
}

.prodCard .foodItem {
    position: absolute;
    padding: 0 calc(1vw + 0.5em);
    opacity: 0;
    transition: opacity 0.7s;
    transition-timing-function: ease;
}

.prodCard:hover .foodTitle {
    padding-bottom: calc(7vw);
}

.prodCard:hover .foodItem {
    opacity: 1;
}
/* HOME DISCOUNTS */

#discounts .card-text {
    font-size: calc(1vw + 0.5em);
}

/* HOME PREMIUM */

#premiumAd {
    background-color: #000000;
    color: #FFFFFF;
    text-align: left;
}

#premiumAd h2 {
    color: #FF4747;
    font-weight: bolder;
    font-size: calc(3vw + 1em);
}

#premiumAd .btn {
    border: 3px solid white;
    border-radius: 5px;
    color: #FFFFFF;
}
#premiumAd img {
    width: calc(5vw + 5em);
    object-fit: contain;
}

#premiumAd h3 {
    font-size: calc(1.5vw + 1em);
    padding-bottom: 1vw;
}

#premiumAd p {
    font-size: calc(0.75vw + 1em);
    line-height: calc(1vw + 1em);
}

