@font-face {
    font-family: EA-Text;
    src: url('../fonts/ElectronicArtsText-Regular.ttf');
}
@font-face {
    font-family: EA-Text;
    src: url('../fonts/ElectronicArtsText-Bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: EA-Display;
    src: url('../fonts/ElectronicArtsDisplay-Regular.ttf');
}
@font-face {
    font-family: EA-Display;
    src: url('../fonts/ElectronicArtsDisplay-Bold.ttf');
    font-weight: bold;
}
/* MAIN || WHOLE SITE */

* {
    margin: 0;
    font-family: EA-Text;
}
/* div, header, nav, section, footer {
    border: 0.01px solid #838383;
} */
body .margin{
    padding-right: 12%;
    padding-left: 12%;
}
h1, h2, h3, h4 {
    font-family: EA-Display;
}
header {
    background-color: #FFFFFF;
}
header .logo {
    width: 14rem;
}
header .icons {
    width: 2rem;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin: 0;
}
.text-right{
    text-align: end;
}
a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
}
main {
    background-color: #ffffff;
}

.greyBg {
    background-color: #F3F3F3;
}

.btn {
    padding: 0.75rem 2.5rem;

    transition: transform 0.1s;
    display: inline-block;
    font-size: 1.2rem;
}

.btn:hover {
    transform: scale(1.05); /*changes the size without affecting the layout itself*/
}

.footerMenu {
    font-size: 1.2rem;
}
footer {
    background-color: #EAEAEA;
}
footer>div {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

footer img {
    width: 5rem;
    object-fit: contain;
}
body .footerPad {
    padding: 0 0;
}

.footer-social img {
    width: 1.6rem;
}

.social-icons img {
    width: 1rem;
}

.admin-link {
    padding-top: 0.75rem;
    font-size: 0.9rem;
}

/* footer mobile */
@media (max-width: 768px) {

    footer nav ul {
        justify-content: center;
    }

    footer img {
        width: 4rem;
    }

    .admin-link {
        border-top: 1px solid #d0d0d0;
        text-align: center;
        background-color: #f3f3f3;
    }
}

@media (max-width: 600px) {
    body .margin{
        padding-right: 3%;
        padding-left: 3%;
    }
}

.form-control {
  height: 60px;
  border-radius: 5px;
  border: 1.5px solid #dcdcdc;
  font-size: 0.95rem;
}

.form-floating > label {
  color: #6c757d;
  font-size: 0.85rem;
}

.form-control:focus {
  box-shadow: none;
  border-color: #adb5bd;
}

button.btn-primary {
  background-color: #2f5cf0;
  border-radius: 6px;
  letter-spacing: 1px;
}


/* -----HOME----- */

/* HOME BANNER */

#banner {
    height: 40vw;
    background-image: url("/resources/images/Web banner.webp");
    background-size: cover;
    color: white;
}

/* HOME CARDS */
.cardHomeHover {
    position: absolute;
    background: linear-gradient(91deg, rgba(40, 40, 85, 1) 0%, rgba(233, 84, 89, 1) 100%);
    opacity: 0;
    top: 0;
    transition: opacity 0.5s;
    transition-timing-function: ease;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.prodCard:hover .cardHomeHover {
    opacity: 0.7;
}

.prodCard {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 17rem;
    max-height: 17rem;
}

.prodCard p {
    color: white;
    z-index: 1;
    pointer-events: none;
    padding-bottom: 0px;
}

.prodCard .foodTitle {
    transition: padding-bottom 0.7s;
    transition-timing-function: ease;
}

.prodCard .foodItem {
    position: absolute;
    padding: 0 0;
    opacity: 0;
    transition: opacity 0.7s;
    transition-timing-function: ease;
}

.prodCard:hover .foodTitle {
    padding-bottom: 5rem;
}

.prodCard:hover .foodItem {
    opacity: 1;
}

@media (max-width: 768px) {
    .prodCard {
        min-height: 23rem;
        max-height: 23rem;
    }

    .card-body a, #premiumAd .btn {
        width: 100%;
    }


}

/* HOME DISCOUNTS */

#discounts .card-text {
    font-size: 1.1rem;
}

/* HOME PREMIUM */

#premiumAd {
    background-color: #000000;
    color: #FFFFFF;
    text-align: left;
}

#premiumAd h2 {
    color: #FF4747;
    font-weight: bolder;
    font-size: 4rem;
}

#premiumAd .btn {
    border: 3px solid white;
    border-radius: 5px;
    color: #FFFFFF;
}
#premiumAd img {
    width: 6rem;
    object-fit: contain;
}

#premiumAd h3 {
    font-size: 2rem;
    padding-bottom: 1vw;
}

#premiumAd p {
    font-size: 1.5rem;
    line-height: 2rem;
}

/*LOGIN/REGISTER PAGE*/

.loginform {
    width: calc(20vw + 5em);
}

/*PRODUCT PAGE*/
#prodBanner {
    height: 10vw;
}

.cardProdHover {
    background: #2E2851;
}

/*SHOP PAGE*/
.shopHeading {
    font-size: calc(1.5vw + 0.5em);
}

.shopTxtWidth {
    width: 65%;
}

.shopImgWidth {
    width: 35%;
}

.shopDottedLine {
        border-bottom: 1px dashed #999;
    opacity: 0.6;
}

.noBg {
    background-color: transparent;
}

.promoCodeInput {
    border: 1.5px solid #838383;
    background-color: transparent;
    border-radius: 3px;
}

.promoCodeButton {
    padding: 0.2rem 0.5rem;
    display: inline-block;
    font-size: calc(0.6vw + 0.4em);
}

.checkoutBtn {
    padding: 0.3rem 1.5rem;
    font-size: calc(1vw + 0.5em);
}

.checkoutBtn:hover {
    transform: scale(1.02); /*changes the size without affecting the layout itself*/
}

/* CHECKOUT PAGE */

.checkoutFormWidth {
    width: 65%;
}

.checkoutProdsWidth {
    width: 35%;
}